<div id="css"></div>
<section class="css" id="css">
  <h2 class="section-heading">CSS</h2>
  <p>Section will be filled in as CSS is refactored</p>
  <h3>CSS Presets</h3>
  <ul class="css-list">
    <li>* { margin: 0; padding: 0; box-sizing: border-box;}</li>
    <li>Fonts, headings, paragraphs, margins, paddings, grids should all be layed out in Sass files by category with class names or sass varible declarations.</li>
    <li>application.scss should only include imports of other files, no rules should be declared here.</li>
  </ul>
</section>