<div id="logos"></div>
<section class="logos" id="logos">
  <h2 class="section-heading">Logos</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore tenetur exercitationem quos delectus, maiores ad! Alias rem molestias harum atque corporis ab? Beatae labore quibusdam non, dicta! Tempora magnam suscipit sint exercitationem obcaecati officia, dolorem!</p>
  <figure id="logo">
    <figcaption>Main Logo</figcaption>
    <img src="assets/images/logo.png" alt="">
  </figure>
  <figure id="mobile-logo">
    <figcaption>Mobile Logo</figcaption>
    <img src="assets/images/mobile-logo.png" alt="">
  </figure>
</section>