<div id="navigation"></div>
<section class="navigation" id="navigation">
  <h2 class="section-heading">Navigation</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nesciunt deserunt ab harum debitis consequatur perferendis voluptatibus aut reiciendis nostrum quis, qui odio, ipsam possimus. Veniam optio quaerat fugiat doloribus, iusto vel placeat incidunt perferendis.</p>

  <figure>
    <figcaption>Main Navigation</figcaption>
    <img src="assets/images/navbar.png" alt="">
  </figure>
  <figure>
    <figcaption>Admin Navigation</figcaption>
    <img src="assets/images/admin-nav.png" alt="">
  </figure>
</section>