<div id="buttons"></div>
<section class="buttons" id="buttons">
  <h2 class="section-heading">Buttons</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius a nam quae, expedita repellat perferendis, sint perspiciatis molestias temporibus dolores amet inventore, reiciendis hic similique maxime illum! Dignissimos quasi molestiae magni, ipsa optio adipisci at.</p>
  <div class="normal-buttons">
    <figure>
      <figcaption>Normal Button Link</figcaption>
      <button class="normal-button">Normal Button</button>
    </figure>
    <figure>
      <figcaption>Offer Button</figcaption>
      <button class="offer-button">Make An Offer</button>
    </figure>
    <figure>
      <figcaption>Offer Button Hovered</figcaption>
      <button class="offer-button-hover">Make An Offer</button>
    </figure>
  </div>
  <div class="about-buttons">
    <figure>
      <figcaption>About Team Button</figcaption>
      <div class="button-surround">
        <button class="about-button">About</button>
      </div>
    </figure>
    <figure>
      <figcaption>About Team Button Hovered</figcaption>
      <div class="button-surround">
        <button class="about-button-hover">About</button>
      </div>
    </figure>
  </div>
  <div class="submit-buttons">
    <figure>
      <figcaption>Form Submission Invalid</figcaption>
      <button class="submit-button-invalid">Submit</button>
    </figure>
    <figure>
      <figcaption>Form Submission Valid</figcaption>
      <button class="submit-button-valid">Submit</button>
    </figure>
  </div>
</section>