<div id="color"></div>
<section class="color" id="color">
  <h2 class="section-heading">Color</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et harum, cupiditate vero quo earum officiis totam nisi commodi dicta officia sint expedita. Harum aperiam unde ipsum minima possimus, iste, eius facilis, odit ad, quis quaerat!</p>
  <img src="assets/images/colors.png" alt="brand colors">
</section>