<div id="icon"></div>
<section class="icon" id="icon">
  <h2 class="section-heading">Iconography</h2>
  <div class="icon-box">
    <figure class="icons">
      <img src="assets/images/seat-license-buy.png" alt="">
      <figcaption>Buy Seat License</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/seat-license-sell.png" alt="">
      <figcaption>Sell Seat License</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/account-icon.png" alt="">
      <figcaption>Navbar Account</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/admin-icon.png" alt="">
      <figcaption>Navbar Admin</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/account-notification.png" alt="">
      <figcaption>Account Page <br>Notification</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/navbar-notification.png" alt="">
      <figcaption>Navbar Notification</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/dashboard.png" alt="">
      <figcaption>Dashboard</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/listings.png" alt="">
      <figcaption>Listings</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/negotiations.png" alt="">
      <figcaption>Negotiations</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/flags.png" alt="">
      <figcaption>Flags</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/users.png" alt="">
      <figcaption>Users</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/config.png" alt="">
      <figcaption>Configurations</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/blocked-ips.png" alt="">
      <figcaption>Blocked IPs</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/sidekiq.png" alt="">
      <figcaption>Sidekiq</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/search.png" alt="">
      <figcaption>Search</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/info.png" alt="">
      <figcaption>Info</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/compass.png" alt="">
      <figcaption>Compass</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/fax.png" alt="">
      <figcaption>Fax</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/facebook.png" alt="">
      <figcaption>Facebook</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/twitter.png" alt="">
      <figcaption>Twitter</figcaption>
    </figure>
    <figure class="icons">
      <img src="assets/images/phone.png" alt="">
      <figcaption>Phone</figcaption>
    </figure>
  </div>
</section>