<nav class="sidebar">
  <a href="#overview">Overview</a>
  <hr>
  <a href="#color">Color</a>
  <hr>
  <a href="#typo">Typography</a>
  <hr>
  <a href="#icon">Iconography</a>
  <hr>
  <a href="#logos">Logos</a>
  <hr>
  <a href="#buttons">Buttons</a>
  <hr>
  <a href="#navigation">Navigation</a>
  <hr>
  <a href="#css">CSS</a>
</nav>