<div id="typo"></div>
<section class="typo" id="typo">
  <h2 class="section-heading">Typography</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum soluta distinctio rem, rerum possimus commodi dicta, animi optio dignissimos in excepturi suscipit ipsam quas dolorum, assumenda aliquam reiciendis! Sit nihil quas ratione est aliquam. Ex.</p>

  <article class="fonts">
    <h4 class="lato">Lato</h4>
    <img class="charset" src="assets/images/lato-charset.png" alt="">
    <hr>
    <div class="regular">
      <p><span>Regular</span>font-weight: 400</p>
    </div>
    <div class="bold">
      <p><span>Bold</span>font-weight: 700</p>
    </div>
    <div class="black">
      <p><span>Black</span>font-weight: 900</p>
    </div>
    <hr>
  </article>

  <article class="headings">
    <h3>Headings</h3>
    <p class="h1">Main Heading H1 - Font-Weight: 700, Font-Size: 24px, Line-Height: 34px</p>
    <p class="h2">Secondary Heading H2 - Font-Weight: 700, Font-Size: 20px, Line-Height: 30px</p>
    <p class="h3">Heading H3 - Font-Weight: 400, Font-Size: 18px, Line-Height: 28px</p>
    <p class="h4">Heading H4 - Font-Weight: 700, Font-Size: 16px, Line-Height: 26px</p>
    <p class="h5">Heading H5 - Font-Weight: 400, Font-Size: 18px, Line-Height: 28px</p>
    <p class="h6">Heading H6 - Font-Weight: 400, Font-Size: 16px, Line-Height: 26px</p>
    <p class="para">Body Text P - Font-Weight: 400, Font-Size: 16px, Line-Height: 26px</p>
  </article>
</section>